<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bank.css" />
    <title>Vesity</title>
    <link rel="stylesheet" href="Circular Std Font.otf" />
  </head>

  <body>
    <div class="main">
      <h2>VESITY</h2>
      <div class="box">
        <h2>Bank Details</h2>
        <form action="/register/bank" method="post">
          <p class="an">Account Name</p>
          <input type="text" name="accountName" class="abox" />
          <p class="An">Account Number</p>
          <input type="text" name="accountNumber" class="bbox" />
          <p class="bn">Bank Name</p>
          <input type="text" name="bankName" class="cbox" />
          <button type="submit" class="js">PROCEED</button>
        </form>
      </div>
    </div>
  </body>
</html>
