<form action="/estate" enctype="multipart/form-data" method="post">
  <input type="file" name="picture" placeholder="image"/>
  <input type="text" name="landName" placeholder="land Name"/>
  <input type="text" name="location" placeholder="location"/>
  <input type="number" name="price" placeholder="price"/>
  <input type="number" name="numberOfInvestors" placeholder="investors"/>
  <input type="submit" value="Submit">
</form>
