<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Vesity</title>

    <link rel="stylesheet" href="Circular Std Font.otf">
</head>

<body class="main">
    <div class="amain">
        <h1 class="ty">VESITY</h1>
        <a class="fe" href="features">Features</a>
        <a class="in" href="investment">Investment</a>
        <button class="lg"><a class="lo" href="/login">Log in</a></button>
        <button class="sg"><a class="si" href="/register">Sign in</a></button>
        <img class="ves" src="/image/vesityr.png" alt="VESITY">
        <h1 class="piv">VESITY</h1>
        <h4 class="text">..The online investment platform enables young people tackle the problem of wealth creation and wealth growth</h4>
        <button class="en"><a class="eg" href=" ">Engage in the movement</a></button>
    </div>
    <div class="bmain">
        <div class="arec">
            <img class="aarec" src="/image/Vector4.png" alt="">
            <h4>Mutual funds platform</h4>
        </div>
        <div class="brec">
            <img class="bbrec" src="/image/Vector5.png" alt="">
            <h4>pools investors funds</h4>
        </div>
        <div class="crec">
            <img class="ccrec" src="/image/Vector3.png" alt="">
            <h4>Sells units of assets</h4>
        </div>
        <div class="drec">
            <img class="ddrec" src="/image/msg.png" alt="">
            <h4>Pays ROI</h4>
        </div>
        <div class="erec">
            <img class="eerec" src="/image/card.png" alt="">
            <h4>Provides consulting services to businesses and large organizations.</h4>
        </div>
        <div class="cmain">
            <img class="imga" src="/image/Recver.png" alt="">
            <h1 class="piva">VESITY</h1>
            <h4 class="atext">By establishing several passive sources of income in industries including real estate investment, cryptocurrency, NFTS, stocks, securities, and consulting services, among others, the online investment platform VESITY enables young people tackle
                the problem of wealth creation and wealth growth.</h4>
        </div>
        <p class="rect"></p>
        <h2 class="vest">VESITY</h2>
        <p class="line"></p>
        <img class="vec1" src="/image/Vector1.png" alt="">
        <img class="vec2" src="/image/ig.png" alt="">
        <img class="vec3" src="/image/tw.png" alt="">
    </div>

</body>