<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/investment.css" />
    <title>Vesity</title>

    <link rel="stylesheet" href="Circular Std Font.otf" />
  </head>

  <body>
    <div class="main">
      <h3 class="ves">VESITY</h3>
      <button class="mes">
        <a class="myi" href="/account">My account</a>
      </button>
      <h3 class="cur">CURRENT INVESTMENT OPPORTUNITIES</h3>
      <div class="Abox">
        <img class="apic" src="/image/Rectangle 24.png" alt="" />
        <h4 class="bp">Bean Plot</h4>
        <h5 class="lc">36 Stave Road, Lagos</h5>
        <h5 class="pr">Price per unit</h5>
        <h5 class="in">Investors</h5>
        <h5 class="N">N50,000</h5>
        <h5 class="n">320</h5>
        <button class="by"><a class="byi" href="/details/1">Buy</a></button>
      </div>
      <div class="Bbox">
        <img class="bpic" src="/image/Rectangle 27.png" alt="" />
        <h4 class="qp">Quanly Plot</h4>
        <h5 class="lca">3 Area 2 Road, Abuja</h5>
        <h5 class="pra">Price per unit</h5>
        <h5 class="ina">Investors</h5>
        <h5 class="Na">N10,000</h5>
        <h5 class="na">90</h5>
        <button class="cy"><a class="cyi" href="/details/2">Buy</a></button>
      </div>
      <div class="cbox">
        <img class="cpic" src="/image/Rectangle 30.png" alt="" />
        <h4 class="qpa">Quanly Plot</h4>
        <h5 class="lcb">3 Area 2 Road, Abuja</h5>
        <h5 class="prb">Price per unit</h5>
        <h5 class="inb">Investors</h5>
        <h5 class="Nb">N10,000</h5>
        <h5 class="nb">90</h5>
        <button class="dy"><a class="dyi" href="/details/3">Buy</a></button>
      </div>
      <div class="dbox">
        <img class="dpic" src="/image/Rectangle 33.png" alt="" />
        <h4 class="qpb">Quanly Plot</h4>
        <h5 class="lcc">3 Area 2 Road, Abuja</h5>
        <h5 class="prc">Price per unit</h5>
        <h5 class="inc">Investors</h5>
        <h5 class="Nc">N10,000</h5>
        <h5 class="nc">90</h5>
        <button class="ey"><a class="eyi" href="/details/4">Buy</a></button>
      </div>
      <h3 class="inv">INVESTMENT OPPORTUNITIES IN YOUR AREA</h3>
      <div class="fbox">
        <img class="fpic" src="/image/Rectangle 36.png" alt="" />
        <h4 class="ob">Bean Plot</h4>
        <h5 class="lz">36 Stave Road, Lagos</h5>
        <h5 class="pz">Price per unit</h5>
        <h5 class="iz">Investors</h5>
        <h5 class="Nz">N50,000</h5>
        <h5 class="nz">320</h5>
        <button class="bz"><a class="bzi" href="/details/5">Buy</a></button>
      </div>
      <div class="obox">
        <img class="opic" src="/image/Rectangle 39.png" alt="" />
        <h4 class="oo">Bean Plot</h4>
        <h5 class="wo">36 Stave Road, Lagos</h5>
        <h5 class="ro">Price per unit</h5>
        <h5 class="to">Investors</h5>
        <h5 class="No">N50,000</h5>
        <h5 class="no">320</h5>
        <button class="bo"><a class="bzo" href="/details/6">Buy</a></button>
      </div>
      <p class="rect"></p>
      <h2 class="vest">VESITY</h2>
      <p class="line"></p>
      <img class="vec1" src="/image/Vector1.png" alt="" />
      <img class="vec2" src="/image/ig.png" alt="" />
      <img class="vec3" src="/image/tw.png" alt="" />
    </div>
  </body>
</html>
