<!-- FORM FOR REGISTER -->
<form action="/register" method="post">
  <input type="text" name="fullName" placeholder="fullname" />
  <input type="email" name="username" placeholder="email" />
  <input type="text" name="nin" placeholder="NIN" />
  <input type="password" name="password" placeholder="Password" />
  <input
    type="password"
    name="confirmPassword"
    placeholder="Confirm Password"
  />
  <button type="submit">Register</button>
</form>
<h1><% error %></h1>
